/*Name: Ko Jia Ling
  Admin no: 190681D*/

.fa-check {
  color: #53ff1a;
}

.fa-times {
  color: red;
}

.nav-tabs {
  border: none;
}

ul.nav-tabs li.nav-item a {
  font-family: bigPixel-reg, monospace;
  color: #495057;
  border-bottom: 1px solid white;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: lime;
  background-color: black;
  border-bottom: none;
}

label {
  font-family: bigPixel-light, monospace;
  color: white;
}

p {
  color: white;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: lime;
  outline: 0;
  box-shadow: 0 0 1rem 0.2rem lime;
}
