/*Name: Ko Jia Ling
  Admin no: 190681D*/

  a.btn-secondary[href="community.html"]:hover {
    color: #d8d6da;
  }

#profilePic {
  border: 2px solid lime;
  border-radius: 5%;
  margin-right: 5%;
}

/*Stats*/
.nav-tabs {
  border: none;
}

ul.nav-tabs li.nav-item a {
  color: #495057;
  font-size: 20px;
  border-bottom: 1px solid white;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: lime;
  background-color: black;
  border-bottom: none;
}

.tab-pane {
  font-size: 20px;
}
